# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Vercel
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.sw?

# TS/Vite build artifacts
*.tsbuildinfo
vite.config.js
.vercel
